#login
  %form{'class' => 'form-horizontal'}
    %div{'class' => 'control-group'}
      %div{'class' => 'controls'}
        %input{'type' => 'text', 'id' => 'inputTeam', 'placeholder' => 'Team'}
    %button{'type' => 'button', 'id' => 'goBtn', 'class' => 'btn'}= "Go"
